	<section class="top-ten__list-container">
		<h2><%= collection_name %></h2>
		<ul class="list-group top-ten-__list">
			<% collection.each do |work| %>
			<li class="list-group-item">
				<h4>
					<%= link_to work.title, work_path(work.id) %>
					<small class="top-ten__creator">by <%= work.creator %></small>
				</h4>
				<p><%= work.votes.count %> votes</p>
			</li>
			<% end %>
		</ul>
	</section>