<h2>All Works</h2>

<%= render partial: "list_each_media", locals: { collection: @movies, collection_name: 'Movies' } %>
<%= render partial: "list_each_media", locals: { collection: @books, collection_name: 'Books' } %>
<%= render partial: "list_each_media", locals: { collection: @albums, collection_name: 'Albums' } %>