<h2>Login Form</h2>

<%= form_with model: @user, url: login_path do |f| %>
	<section>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</section>
	<section>
		<%= f.submit 'Login' %>
	</section>
<% end %>